<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>kitap</title>
  </head>
  <body>
    <h1><%=kitapIsmi%></h1>
    <li>Kitap Yazari:<%=kitapYazari%></li>
    <li>Kitap Aciklamasi:<%=kitapAciklamasi%></li>
    <li>Kitap Fiyati:<%=kitapFiyati%></li>
  </body>
</html>
