<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>urun</title>
  </head>
  <body>
    <h1> baslik:<%=baslik%></h1>
<p>yorumsayisi: <%=yorumsayisi%> uretici: <%=uretici%> </p>


    
  </body>
</html>
