<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yazi : </title>
  </head>
  <body>
    <h1>baslik :<%= baslik %></h1>
    <p>burası da yazinin içeriği...</p>
  </body>
</html>
